/* 공통으로 적용할 부분들을 정의 */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  font-family: "Dongle", sans-serif;
}

html {
  font-size: 30px;
}

body {
  margin: 0;
  color: #000;
}

ul, ol {
  list-style: none;
}

ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
}